<div class="container">
  <div class="row">
    <div class="col-12 section-title">
      <h1>Steps I took:</h1>
    </div>
    <div class="mvp-container">
      <div class="row">
        <div class="col-12 nvp-intro">
          <h2>Get things started:</h2>
          <h3>1) Signed up for butter trial with methodician</h3>
          <h3>2) PW was Test!23</h3>
          <h3>3) Created new project with Angular CLI, specifying that I wanted routing, didn't want tests, and wanted
            "hook" as my prefix</h3>
          <h3>4) npm i firebase @angular/fire buttercms</h3>
          <h3>5) npm i @angular/material @angular/cdk @angular/animations (Optional step from buter quickstart)</h3>
          <h3>6) Used styles and themes from <a href="https://flight.run" target="_blank">Flight</a> since I'm not
            great with css/scss</h3>
          <h2>Build out basics:</h2>
          <h3>7) Created blog (detail/list/preview), home, admin and nav-menu components (ng g component
            components/blog)</h3>
          <h3>8) Created a blog/butter service (ng g service services/blog)</h3>
          <h3>9) Added all the relevant routes to my nav and routing module</h3>
          <h3>10) Set up my blog components and service to work with my headless CMS (Butter)</h3>
          <h3>11) Used Flight's cool carousel system to display featured posts, sompe pipes for HTML, etc...</h3>
          <h2>Introduce functions:</h2>
          <h3>1) in the terminal: firebase init... I selected RTDB, Functions, and Hosting and chose my default project
            and defaults except TypeScript for Functions and declined TSLint (since this is a quick demo and I've had
            issues with it in the past) and I chose "dist" as my public directory and "yes" to configure as SPA since
            this is an Angular project after all...</h3>
        </div>
      </div>
    </div>
  </div>
</div>
