<section id="home" class="butter-cms-style">
  <h1>Steps I Took</h1>
  <h2>A. Get things started:</h2>
  <ol>
    <li>Signed up for butter trial with methodician</li>
    <li>PW was Test!23</li>
    <li>Created new project with Angular CLI, specifying that I wanted routing, didn't want tests, and wanted "hook" as my prefix</li>
    <li>npm i firebase @angular/fire buttercms</li>
    <li>npm i @angular/material @angular/cdk @angular/animations (Optional step from buter quickstart)</li>
    <li>Used styles and themes from <a href="https://flight.run" target="_blank">Flight</a> since I'm not great with css/scss</li>
  </ol>

  <h2>B. Build out basics</h2>
  <ol>
    <li>Created blog (detail/list/preview), home, admin and nav-menu components (ng g component components/blog)</li>
    <li>Created a blog/butter service (ng g service services/blog)</li>
    <li>Added all the relevant routes to my nav and routing module</li>
    <li>Set up my blog components and service to work with my headless CMS (Butter)</li>
    <li>Used Flight's cool carousel system to display featured posts, sompe pipes for HTML, etc...</li>
  </ol>

  <h2>C. Introduce functions</h2>
  <ol>
    <li>in the terminal: firebase init... I selected RTDB, Functions, and Hosting and chose my default project and defaults except TypeScript for Functions and declined TSLint (since this is a quick demo and I've had issues with it in the past) and I chose "dist" as my public directory and "yes" to configure as SPA since this is an Angular project after all...</li>

    <li>Opened a terminal to the Functions folder and npm install buttercms</li>
    <li>Import admin and Butter into functions/src/index.ts</li>
    <li>Create my butter constant just like in BlogService</li>
    <li>Created my https post Firebase cloud functions to plug webhooks into</li>
    <li>in the terminal: firebase deploy --only funcitons</li>
  </ol>

  <h2>D. Hook in Webhooks</h2>
  <ol>
    <li>Open Firebase console to your project, open Functions from left panel, find your trigger url for the new function, and copy it</li>
    <li>Open ButterCMS dashboard. Click your name in upper left --> Settings --> Webhooks and paste the copied url into "Target URL" and select "Blog Post Create, Published, Update, or Delete" from the "Event" dropdown
    </li>
    <li>Try creating, updating, and deleting posts in the CMS to make sure it's working. Look at the Functions log, look at the database, is all good?</li>
  </ol>

  <h2>E. Use Firebase to feature and unfeature posts in admin section</h2>
  <ol>
    <li>Initialize Firebase in app.module.ts</li>
    <li>Add relevant methods to blog service</li>
    <li>Add a simple UI to admin component</li>
  </ol>

  <h1>Issues &amp; Weird Behavior</h1>
  <p>Butter webhooks are funky. For instance setting a post to "draft" triggers a "post.delete" event, but then saving that draft triggers an update to that draft triggers a "post.update" so for best results we really should check the "status" each time we get a publish or update.</p>

  <h1>Other Things You Could Do</h1>
  <p>Butter doesn't return a compressed version of your posts or pages. You could use your Firebase list of slugs and/or some condensed preview objects if Butter's return was too massive (special cases)</p>
  <ul>
    <li>You could use Firebase to create comment system or chats specific to posts or pages.</li>
    <li>You could do more complete checks of the status, integrate tag management, etc...</li>
    <li>You could add legit security rules to prevent unauthorized users from accessing admin or changing related data.</li>
  </ul>
</section>
