@import "../../../sass/vars.scss";

#home {
  width: 80%;
  margin: auto;
  padding: 24px 0;

  h1 {
    text-align: center;
  }

  h2 {
    color: $dark;
    font-size: 1.4rem;
  }

  ol, ul {
    margin-left: 40px;
  }
}
