@import "../../../sass/vars.scss";

h1 {
  margin: 24px 0;
  color: $primary;
  font-size: 1.6rem;
  text-align: center;

  &.accent {
    color: $accent;
  }

  @media screen and (min-width:600px) {
    font-size: 2.4rem;
  }
}

.category-selector::ng-deep {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -32px;

  .mat-form-field-infix {
    border: none;
  }

  .mat-select-value-text,
  .mat-select-arrow,
  .mat-select-placeholder {
    color: $primary;
  }

  .mat-form-field-underline {
    background: $primary;
  }
}

::ng-deep .mat-select-panel {
  max-height: 300px !important;

  .mat-select-content {
    background-color: $primary;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  margin: 48px 0;

  .grid {
    display: grid;
    grid-template-columns: 80vw;
    grid-gap: 24px;

    @media screen and (min-width: 600px) {
      grid-template-columns: 40vw 40vw;
    }

    @media screen and (min-width:1024px) {
      grid-template-columns: 30vw 30vw 30vw;
    }

    @media screen and (min-width:1490px) {
      grid-template-columns: 20vw 20vw 20vw 20vw;
    }
  }

  .grid-item {
    height: 80vw;

    @media screen and (min-width: 600px) {
      height: 40vw;
    }

    @media screen and (min-width:1024px) {
      height: 30vw;
    }

    @media screen and (min-width:1490px) {
      height: 20vw;
    }
  }
}
