
<section class="gallery">
  <div class="grid">
    <a *ngFor="let post of posts" [routerLink]="'/blog/post/' + post.slug">
      <fly-blog-preview-card [post]="post"></fly-blog-preview-card>
    </a>
  </div>
</section>

Featured Posts
<!-- <pre> {{ featuredPosts | json }}</pre> -->
<section class="gallery">
    <div class="grid">
      <a *ngFor="let post of featuredPosts" [routerLink]="'/blog/post/' + post.slug">
        <fly-blog-preview-card [post]="post"></fly-blog-preview-card>
      </a>
    </div>
  </section>